NODE_ENV=development
PORT=3000

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=fixtradezone
MYSQL_USER=YOUR_MYSQL_USER
MYSQL_PASSWORD=YOUR_MYSQL_PASSWORD

MONGODB_URI=mongodb://127.0.0.1:27017/fixtradezone

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
CAPTCHA_HMAC_SECRET=REPLACE_ME_WITH_AT_LEAST_32_RANDOM_CHARACTERS

JWT_ACCESS_SECRET=CHANGE_ME
JWT_REFRESH_SECRET=CHANGE_ME
